body{
  background-color: #eff2f8;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;

}
.Applogo{
  display :flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
header{
  display: flex;

  align-items:flex-start;
  width: 100%;
  
}
.App-logo {
  height: 100px;
  width:100px;
  pointer-events: none;
  align-items: flex-start;
}
h1.header {
  display:flex;
  align-items: flex-start;
  width:200px;
  
  
}
.Todo-heading{
  display: flex;
  padding-top: 0px;
  margin-top: 0;
  min-height: 10vh;
  background-color: #76e1ff;
  color:#282c34;
  font-size: 32px;
  font-family: 'Roboto Mono', monospace;
  font: weight 900px;
  align-items: center;
  padding-left: 10px;
  height: 100%;
  width: 100%;

}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
  font-size: calc(10px + 2vmin);
  color: white;
}

.form{
  width: 100vw;

}
addForm{
  width: 100px;
}
.li{
  padding:10px;
 
  display: flex;
  flex-wrap:wrap;


}

.addForm{
  display:flex;
  align-items: center;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
